{% extends 'base.html.twig' %}
{% block body %}
<div class="details-container">
    <img class="icon-details" src="{{asset('assets/img/data_protection.png')}}">
    <h1 class="details-headline animate__animated animate__fadeInDown animate__slow">Add New Event</h1>
</div>
{% endblock %}