{% extends 'base.html.twig' %}
{% block body %}
  <div class="details-container">
    <img class="icon-details" src="{{asset('assets/img/app.png')}}">
    <h1 class="details-headline animate__animated animate__fadeInDown animate__slow">Update Data</h1>
</div>

{% endblock %}