<div class="hero d-flex mt-5 mb-5">
    <div class="hero-text d-flex align-items-center">
        <div class="text-container">
            <h1 class="animate__animated animate__fadeInDown animate__slow">Ev</h1>
            <h1 class="animate__animated animate__fadeInDown animate__fast">ent</h1>
            <h1 class="animate__animated animate__fadeInDown animate__faster">App</h1>
            <p class="mt-3 animate__animated animate__flipInX animate__delay-1s">Your</p>
            <p class="animate__animated animate__flipInX animate__delay-1s">Personal</p>
            <p class="animate__animated animate__flipInX animate__delay-1s">Assistant</p>

            <div class="social-media d-flex mt-4 animate__animated animate__fadeIn animate__delay-1s">
                <img class="sm-icon me-3" src="{{asset('assets/img/facebook.png')}}">
                <img class="sm-icon me-3" src="{{asset('assets/img/insta.png')}}">
                <img class="sm-icon" src="{{asset('assets/img/youtube.png')}}">
            </div>
        </div>
    </div>
    <div class="hero-img-container">
        <img class="hero-img" src="{{asset('assets/img/hero.png')}}">
    </div>
</div>

